
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Redressed';
    height: 100vh;
    background-color:#FFF;
    font-size: 18px;
    position: relative;
}
.container{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    width: 350px;
    background-color:lavender;
    border-radius: 18px;
    text-align: center;
    box-shadow: 1px 1px 13px rgb(0 0 0 / 10%);
}
h1{
    background-color:cornsilk;
    padding: 10px 0;
    font-size: 34px;
    border-radius: 5px;
}
p{
    color:black;
}
.control{
    margin: 25px 0;
}
input{
    border: none;
    outline: none;
    text-align: center;
    border-bottom: 1px solid burlywood;
    color:blue;
    font-size: 22px;
    margin-top: 20px;
    border-radius: 10px;
}
select{
    border: none;
    outline: none;
    border: 1px solid #16a465;
    color: #7e7e7e;
    font-size: 15px;
    margin-top: 20px;
    padding: 11px 34px;
    border-radius: 10px;
    width: 75%;
}
button#calculate{
    color: white;
    background:#7e7e7e;
    border: 1px solid transparent;
    font-size: 19px;
    border-radius: 15px;
    padding: 14px 29px;
    margin: 25px;
    transition: all .2s ease;
}
.totalTip{
    background-color:lavender;
    border-radius: 10px;
    padding: 25px 0 35px;
}
p.tip{
    font-size: 25px;
    color:darkorange;
    margin-top: 10px;
}
