html{
    color: blueviolet;
    background-color: aquamarine;
}
.container{
   text-align: center;
    background-color:azure;
    height: 700px;
    width: 500px;
    position: fixed; 
    left: 350px;
    top: 2cm;
    border-radius: 72px;
    background-position: left top;
    background-repeat: repeat;
    padding: 20px;

}
h1{
    text-align: center;
}
#innerbox{
    padding-left: 50px;
}
.inputtypes{
  margin: 20px;
  padding-left: 40px;
  background-color:deepskyblue;
}
span{
 padding-left: 10px;
 color: fuchsia;
}
#tip{
   margin: 40px;
   padding-left: 40px;
   color:firebrick;

}

  button{
      background-color:lightseagreen;
      color: blue;
      height:50px;
      width: 90px;
      
  }
  .totalamount{
      background-color: aqua;
  }

  .totalTip{
      background-color:aquamarine;
  }
  body{
      align-items: center;
      z-index: 10;
  }
  input{
      height: 20px;
      width: 120px;
  }